{% load static %}
<!-- {{w_c_list}} -->
<div class="charset position-absolute top-0 start-0" style="width: 70%; height: 100%; z-index: 1000; margin-left: 6%;">


  <!-- <div>
    <ul class="">
      {% for w_c in w_c_list %}
      <li>{{w_c.0}}</li>
      <li>{{w_c.1}}</li>
      {%endfor%}
    </ul>
  </div>
  <div>
    <ul>
      {% for t_l in total_key_list %}
      <li>{{t_l.0}}</li>
      <li>{{t_l.1}}</li>
      <li>{{t_l.2}}</li>
      {%endfor%}
    </ul>
  </div> -->

  <div class="chart-wrapper d-flex justify-content-between" style="margin-top: 100px;">
      
    <div class="bar_c_area" style="width: 48%;">
        <canvas id="bar_c">
        </canvas>
    </div>
    <div class="line_c_area" style="width: 48%;">
        <canvas id="line_c">
        </canvas>
    </div>

    <div class="related_words" style="width: 100%; margin-left: 15px;">
      <p class="d-flex justify-content-center" style="margin-top:10px; font-size : 20px; font-weight: 700; ">추천 연관어</p>
      <ul>
        <li>
          {% for r in related_words_odd %}
          <span>{{r}}&nbsp</span><br>
          {% endfor%}

        </li>
        <li>
          {% for r in related_words_even %}
          <span>{{r}}&nbsp</span><br>
          {% endfor%}
        </li>
      </ul>
    </div>

  </div>

  <!-- 20230628 김경민 wordcloud 위치 변경 -->
  <div class="word_w_area position-absolute bottom-0 end-0" style="margin-bottom: 80px; margin-right: 25px;">
      <p class="d-flex justify-content-center" style="font-size : 25px; font-weight: 700; margin-bottom: 30px;">키워드 한눈에 보기</p>
      <div style="background-color: #FFFAFA; border-radius: 15%; width:450px; height: 350px; text-align: center;">
        {% if wordcloud_link == 'wordcloud' %}
        <img width="400px" style="margin-top: 50px" src="{% static 'assets/wordcloud.png' %}">
        {% elif wordcloud_link == 'computer_lang' %}
        <img width="400px" style="margin-top: 50px" src="{% static 'assets/computer_lang_png.png' %}">
        {% elif wordcloud_link == 'computer_pop' %}
        <img width="400px" style="margin-top: 50px" src="{% static 'assets/computer_pop_png.png' %}">
        {% elif wordcloud_link == 'computer_code' %}
        <img width="400px" style="margin-top: 50px" src="{% static 'assets/computer_code_png.png' %}">
        {% else %}
        <img width="400px" src="{% static 'assets/wordcloud.png' %}">
        {% endif %}
      </div>
  </div>

</div>

<div>
  <canvas id="myChart"></canvas>
</div>




<!-- // 경민님 차트 -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  // const ctx = document.getElementById('bar_c');

  // const data = {
  //     label: ["키워드들"],
  //     datasets: [{
  //         label: '1년간 키워드 등장 빈도수',
  //         data: [{% for c in c_list %} '{{ c }}', {% endfor %}],
  //     }]
  // }

  // const config = {
  //   type: 'bar',
  //   data: data,
  //   options: {
  //     scales: {
  //       y: {
  //         beginAtZero: true
  //       }
  //     },
  //       backgroundColor: 'rgba(103,59,167,0.1)',
  //       hoverBackgroundColor: 'rgba(103,59,167,0.5)',
  //       borderColor: 'rgba(103,59,167,1)',
  //       borderWidth: 1,
  //   }
  // }
  

  // new Chart(ctx, config);


  const data = {
      // label: "키워드들",
      labels: [{% for w in w_list%} ' {{w}}', {% endfor %}],
      datasets: [{
        label: '1년간 키워드 등장 빈도수',
        backgroundColor: 'rgba(23, 107, 135, .7)',
        hoverBackgroundColor: 'rgb(23, 107, 135)',
        borderColor: 'rgb(23, 107, 135)',
        borderWidth: 1,
        data: [{%for c in c_list%} '{{ c }}', {% endfor %}],
      }]
  };
  const data2 = {
      // label: "키워드들",
      labels: [{% for m in month_list %} '{{m}}', {% endfor %}],
      datasets: [{
        label: '1년간 "클라우드" 등장 빈도수',
        backgroundColor: 'rgb(23, 107, 135, .7)',
        hoverBackgroundColor: 'rgb(23, 107, 135)',
        borderColor: 'rgb(23, 107, 135)',
        borderWidth: 1,
        data: [{%for cl in cnt_list %} '{{ cl }}', {% endfor %}],
      }]
  };
  // config
  const config = {
    type: 'bar',
    data,
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  };
  
  const chart = new Chart(document.getElementById('bar_c'), config
  );
  
  // line chart 

  const config2 = {
      type: 'line',
      data: data2,
      options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  }
  
  const chart2 = new Chart(document.getElementById('line_c'), config2);

</script>

