{% extends 'base.html' %}

{% load static %}

{% block head_title %}Home{% endblock %}

<!-- Core theme CSS (includes Bootstrap)-->
{% block style %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<!-- <link rel="stylesheet" href="{% static 'css/reset.css' %}"> -->
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock %}

{% block main_area %}

<div class="shell row position-relative">
    <div class="scrollBox flex flex-br-c position-fixed">
        <!-- <ul class="scrollBtn">
          <li><a href="#page1" id="scroll"><div></div></a></li>
          <li><a href="#page2" id="scroll"><div></div></a></li>
        </ul> -->
        <ul class="scrollBtn">
            <li><a href="#page1" id="scroll"><i class="bi bi-chevron-double-up"></i>
            </a></li>
            <li><a href="#page2" id="scroll"><i class="bi bi-chevron-double-up"></i>
            </a></li>
        </ul>
    </div>
    <div class="part mainPart" id="page1">
        <!-- <h1>KNOWARK</h1> -->
        <div class="d-flex justify-content-center searchPart">
            <a href="/" class="logo">
                    <span>노아</span>
            </a>
            <input type="search" id="search-input">
            <a type="submit" href="#" class="sch_go" onclick="return searchKeyword();">
                <span>ㅏ크</span>
            </a>
        </div>
        <div class="textBox">
            <span class="textL">주니어도 그들의 대화에 끼고 싶다!</span>
            <!-- <span class="textR">궁금한 키워드를 노아크에서 한눈에 확인하세요!</span> -->
            <span class="textR">궁금한 키워드를 위의 푸른 검색창에 입력하세요!</span>
        </div>
    </div>
    <div class="part boardPart position-relative" id="page2">
        <div class="position-absolute top-50 start-50 translate-middle boardBox">

        {% include 'charts.html' %}

        </div>
    </div>
</div>


<!-- 20230626 김경민 script:chart.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>

<script>
 
    const data = {
      label: "'2023년 5월 키워드'",
        labels: [{% for w in w_list%} ' {{w}}', {% endfor %}],
        datasets: [{
            label: 
            backgroundColor: 'rgb(194, 222, 220,0.2)',
            hoverBackgroundColor: 'rgb(236, 229, 199,0.5)',
            borderColor: 'rgb(17, 106, 123,1)',
            borderWidth: 1,
            data: [{%for c in c_list%} '{{ c }}', {% endfor %}],
        }]
    };
    const data2 = {
        label: "1년 키워드 추이",
        labels: [{% for m in month_list_0 %} '{{m}}', {% endfor %}],
        datasets: [{
            label: '',
            backgroundColor: 'rgb(194, 222, 220,0.2)',
            hoverBackgroundColor: 'rgb(236, 229, 199,0.5)',
            borderColor: 'rgb(17, 106, 123,1)',
            borderWidth: 1,
            data: [{%for cl in cnt_list_0 %} '{{ cl }}', {% endfor %}],
        }]
        // labels: [{% for m in month_list %} '{{m}}', {% endfor %}],
        // datasets: [{
        //     label: '1년간 "클라우드" 등장 빈도수',
        //     backgroundColor: 'rgb(194, 222, 220,0.2)',
        //     hoverBackgroundColor: 'rgb(236, 229, 199,0.5)',
        //     borderColor: 'rgb(17, 106, 123,1)',
        //     borderWidth: 1,
        //     data: [{%for cl in cnt_list %} '{{ cl }}', {% endfor %}],
        // }]
    };
    // config
    const config = {
        type: 'bar',
        data,
        options: {
        responsive: false,
        scales: {
            y: {
            beginAtZero: true
            }
        }
        }
    };
    
    const chart = new Chart(document.getElementById('bar_c'), config
    );
    
    // line chart 

    const config2 = {
        type: 'line',
        data: data2,
        options: {
        responsive: false,
        scales: {
            y: {
            beginAtZero: true
            }
        }
        }
    }
    
    const chart2 = new Chart(document.getElementById('line_c'), config2);

</script>
<!-- 20230626 김경민 close -->


{% endblock %}
